@-webkit-keyframes aqualunger{
    0%{
        left: -190px;
        top: 10px;
    }
    100%{
        top: 350px;
    }
}
@-webkit-keyframes fisht{
    0%{
       left: -450px; 
       top: 200px;
    }
    100%{
        left: 1600px;
        top: 80px;
    }
}
@-webkit-keyframes fish3{
    0%{
     top: 320px;
     left: -450px;
    }
    100%{
        top: 280px;
        left: 1600px;
    }
}
@-webkit-keyframes fish4{
    0%{
        left: 1600px;
        top: 650px;
    }
    50%{
        left: 600px;
        top: 325px;
    }
    100%{
        left: -400px;
        top: 90px;
    }
}
@-webkit-keyframes fish5{
    0%{
        left: 2000px;

    }
    50%{
        left: 1000px;

    }
    100%{
        left: -400px;

    }
}
@-webkit-keyframes fish6{
    0%{
        left: 1600px;
        top: 480px;
    }
    50%{
        left: 600px;
        top: 95px;
    }
    100%{
        left: -400px;
        top: 190px;
    }
}
@-webkit-keyframes fish7{
    0%{
        left: 2200px;
        top: 180px;
    }
    50%{
        left: 900px;
        top: 95px;
    }
    100%{
        left: -400px;
        top: 90px;
    }
}
@-webkit-keyframes fish8{
    0%{
        left: 1600px;
        top: 150px;
    }
    50%{
        left: 600px;
        top: 35px;
    }
    100%{
        left: -400px;
        top: 25px;
    }
}
@-webkit-keyframes fish10{
    0%{
     top: 220px;
     left: -450px;
    }
    100%{
        top: 30px;
        left: 1600px;
    }
}
@-webkit-keyframes fish14{
    0%{
     bottom: 220px;
     left: 1800px;
    }
    100%{
        bottom: 75px;
        left: -450px;
    }
}
@-webkit-keyframes fish15{
    0%{
        left: 2200px;
        bottom: 680px;
    }
    50%{
        left: 800px;
        bottom: 600px;
    }
    100%{
        left: -450px;
        bottom: 700px;
    }
}

.fish1{
    position: absolute;
    width: 92px;
    height: 52px;
    background: url(https://i.yapx.ru/Sn86k.png);
    background-size: cover;
    z-index: -30;
    animation: fisht 50s linear 0s infinite;
    -webkit-animation: fisht 50s linear 0s infinite;
}
.fish2{
    position: absolute;
    width: 110px;
    height: 53px;
    background: url(https://i.yapx.ru/Sn86o.png);
    background-size: cover;
    z-index: -3;
    animation: fish3 45s linear 0s infinite;
    -webkit-animation: fish3 45s linear 0s infinite;
}
.fish3{
    position: absolute;
    width: 125px;
    height: 60px;
    top: 300px;
    left: 100px;
    background: url(https://i.yapx.ru/Sn86o.png);
    background-size: cover;
    z-index: -3;
    transform: rotate(-15deg);
    animation: fish3 55s linear 0s infinite;
    -webkit-animation: fish3 55s linear 0s infinite;
}
.fish4{
    position: absolute;
    background: url(https://i.yapx.ru/Sn86n.png);
    background-size: cover;
    width: 75px;
    height: 77px;
    transform: scale(-1, 1);
    animation: fish4 45s linear 0s infinite;
    -webkit-animation: fish4 45s linear 0s infinite;
}
.fish5{
    position: absolute;
    background: url(https://i.yapx.ru/Sn86n.png);
    background-size: cover;
    width: 75px;
    height: 77px;
    transform: scale(-1, 1);
    animation: fish5 55s linear 0s infinite;
    -webkit-animation: fish5 55s linear 0s infinite;
}
.fish6{
    position: absolute;
    background: url(https://i.yapx.ru/Sn86k.png);
    background-size: cover;
    width: 92px;
    height: 52px;
    transform: scale(-1, 1);
    animation: fish6 60s linear 0s infinite;
    -webkit-animation: fish6 60s linear 0s infinite;
}
.fish7{
    position: absolute;
    background: url(https://i.yapx.ru/Sn86o.png);
    background-size: cover;
    width: 65px;
    height: 29px;
    left: 1800px;
    transform: scale(-1, 1);
    animation: fish7 40s linear 10s infinite;
    -webkit-animation: fish7 40s linear 10s infinite;
}
.fish8{
    position: absolute;
    background: url(https://i.yapx.ru/Sn86o.png);
    background-size: cover;
    width: 79px;
    height: 39px;
    left: 1800px;
    transform: scale(-1, 1);
    animation: fish8 40s linear 13s infinite;
    -webkit-animation: fish8 40s linear 13s infinite;
}
.fish9{
    position: absolute;
    background: url(https://i.yapx.ru/Sn86n.png);
    background-size: cover;
    width: 75px;
    height: 77px;
    transform: scale(-1, 1);
    animation: fish4 45s linear 0s infinite;
    -webkit-animation: fish4 45s linear 0s infinite;
}
.fish10{
    position: absolute;
    background: url(https://i.yapx.ru/Sn86n.png);
    background-size: cover;
    transform: rotate(15deg);
    width: 75px;
    height: 77px;
    left: -450px;
    animation: fish10 65s linear 15s infinite;
    -webkit-animation: fish10 65s linear 15s infinite;
}
.fish11{
    position: absolute;
    background: url(https://i.yapx.ru/Sn86k.png);
    background-size: cover;
    width: 75px;
    height: 40px;
    left: -450px;
    animation: fisht 45s linear 15s infinite;
    -webkit-animation: fisht 45s linear 15s infinite;
}
.fish12{
    position: absolute;
    background: url(https://i.yapx.ru/Sn86k.png);
    background-size: cover;
    width: 35px;
    height: 22px;
    transform: scale(-1, 1);
    left: 1800px;
    animation: fish7 45s linear 25s infinite;
    -webkit-animation: fish7 45s linear 25s infinite;
}
.fish13{
    position: absolute;
    background: url(https://i.yapx.ru/Sn86n.png);
    background-size: cover;
    width: 75px;
    height: 77px;
    transform: scale(-1, 1);
    animation: fish4 45s linear 0s infinite;
    -webkit-animation: fish4 45s linear 0s infinite;
}
.fish14{
    position: absolute;
    background: url(https://i.yapx.ru/Sn86k.png);
    background-size: cover;
    width: 105px;
    height: 60px;
    left: 1800px;
    transform: scale(-1, 1);
    animation: fish14 35s linear 35s infinite;
    -webkit-animation: fish14 35s linear 35s infinite;
}
.fish15{
    position: absolute;
    background: url(https://i.yapx.ru/Sn86o.png);
    background-size: cover;
    width: 125px;
    height: 60px;
    left: 1800px;
    transform: scale(-1, 1);
    animation: fish15 55s linear 25s infinite;
    -webkit-animation: fish15 55s linear 25s infinite;
}