*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-family: Rubik;
	font-size: 12px;
	color: #616161;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
html{
    -ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/*--------------------*/
.no-webp body {
    background-image: url(images/backgWF.png);
}
.webp body{
    background-image: url(img/backgWF.webp);
}
body{
    background-repeat: no-repeat;
    background-color: #065b92;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    max-height: 660px;
    min-width: 800px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
/*--------------------*/
.wrapper{
    display: flex;
    flex-direction: column;
    min-width: 700px;
    width: 75%;
    margin: 0 auto;
}
/*--------------------*/
.header{
    position: relative;
    display: flex;
    min-width: 1000px;
    max-width: 1200px;
    height: 82px;
    justify-content: flex-end;
}
.no-webp .logo {
    background-image: url(images/price.png)
}
.webp .logo{
    background-image: url(img/price.webp)
}
.logo{
    position: relative;
    justify-content: end;
    width: 250px;
    height: 250px;
    background-size: cover;
}
/*--------------------*/
.no-webp .aqualunger {
    background-image: url(images/aqualunger.png)
}
.webp .aqualunger{
    background-image: url(img/aqualunger.webp)
}
.aqualunger{
    position: absolute;
    background-size: cover;
    width: 220px;
    height: 141px;
    top: 150px;
    left: -180px;
    animation: aqualunger 25s linear alternate 0s infinite;
}
/*--------------------*/
[class*="__container"]{
    min-height: 600px;
    width: 90%;
}
.content__container{
    display: flex;
    position: relative;
    padding-left: 4%;
    min-width: 900px;
    max-width: 1100px;
    height: 630px;
}
/*--------------------*/
.description__container{
    position: relative;
    width: 65%;
    height: 100%;
    display: flex;
}
/*--------------------*/
.text__container{
    position: relative;
    width: 80%;
    height: 100%;
    display: flex;
}
.stripes{
    position: relative;
    display: flex;

}
.stripes img{
    position: relative;
    width: 80%;
    height: 100%;
    left: 20%;
    min-width: 450px;
}
.inscription{
    position: relative;
    min-width: 430px;
    height: 90%;
    right: 350px;  
    top: 30px; 
}
.smallins{
    position: relative;
    width: 40%;
    height: 35%;
    min-width: 220px;
    transform: rotate(49deg);
    right: 880px;  
    bottom: 22px;
}
/*--------------------*/
.yelstones__container{
    display: flex;
    flex-direction: column;
    min-width: 330px;
}
.yeldack{
    position: relative;
    display: flex;
    width: 100%;
    height: 80%;
    transform: scale(-1, 1);
    justify-content: center;
}
.stones{
    height: 20%;
    display: flex;
    width: 140%;
    min-width: 10px;
}
/*--------------------*/
.no-webp .stoneabout {
    background-image: url(images/1.png);
}
.webp .stoneabout{
    background-image: url(img/1.webp);
}
.no-webp .stoneabout:hover {
    background-image: url(images/1а.png);
}
.webp .stoneabout:hover{
    background-image: url(img/1а.webp);
}
.no-webp .stoneabout:active {
    background-image: url(images/1а.png);
}
.webp .stoneabout:active{
    background-image: url(img/1а.webp);
}
.stoneabout{
    position: relative;
    width: 30%;
    min-width: 150px;
    right: 15px;
    height: 220%;
    bottom: 150px;
    background-size: cover;
    z-index: 5;
}
.stoneabout:hover{
    background-size: cover;
}
.stoneabout:active {
    background-size: cover;
	bottom: 170px;
	}
/*--------------------*/
.stonebuy{
    position: relative;
    width: 60%;
    max-width: 200px;
    height: 223%;
    bottom: 135px;
    right: 85px;
    background: url(https://i.yapx.ru/Sn86c.png);
    background-size: cover;
    z-index: 5;
}
.stonebuy:hover{
    background: url(https://i.yapx.ru/Sn86d.png);
    background-size: cover;
    right: 100px;
}
.stonebuy:active {
    background: url(https://i.yapx.ru/Sn86d.png);
    background-size: cover;
	bottom: 170px;
	}
/*--------------------*/
.stonegallery{
    position: relative;
    min-width: 150px;
    height: 249%;
    bottom: 155px;
    right: 135px;
    background-image: url(img/3.webp);
    background-size: cover;
    z-index: 3;
}
.stonegallery:hover{
    background-image: url(img/3а.webp);
    background-size: cover;
}
.stonegallery:active {
    background-image: url(img/3а.webp);
    background-size: cover;
	bottom: 170px;
	}
/*--------------------*/
.stand{
    position: relative;
    height: 10%;
    min-width: 200px;
}
.stand img{
    position: relative;
    width: 150%;
    bottom: 350px;
    right: 90px;
    max-height: 500px;
}

 



